[2020-02-28 10:51] KuDeSnik33ra opened #1 "Support for erasing inner triangles"
Is there any possibility to detect, if triangles are inner - this is common scenario in gis triangulation, for example, boost::geometry::model::polygon can have one outer vertex ring and multiple inner vertex rings - for gaps in it. I tried to add inner vertex and boundaries to CDT - it produced triangles in the gaps. Is there any posiibility to remove them?

I think, the easy way to add such func

[2020-02-28 12:24] artem-ogre commented on #1
To my knowledge, triangulation with holes usually requires specifying holes as a collection of polygons. The approach you suggest will often work but will fail in a general case.
Imagine situation like this:
![image](https://user-images.githubusercontent.com/7488293/75548235-1163c200-5a2d-11ea-8fc0-c23c64c5135e.png)
You can see that there are many valid triangles that contain only inner vertices (

[2020-02-28 15:16] KuDeSnik33ra commented on #1
So, i need to create separate Triangulation for every inner poly and buffer forbidden triangles via vert indexes? Will triangles be the same in such sceneario (if verts order will be the same)?

[2020-02-28 17:48] artem-ogre commented on #1
I have an idea for the work-around. And I will try to add support for it in the library when I get some time.

The idea is something like this:
[code]

Code above is from the top of my head, I did not have time to check if it actually works, but I think it should.

[2020-02-29 10:38] KuDeSnik33ra commented on #1
It works, thanks!

[2020-02-29 11:43] KuDeSnik33ra commented on #1
Are indexes order in triangles stable for both Trianglulations? Or I need to check for same triangles via indexes - order independantly?

[2020-02-29 12:09] artem-ogre commented on #1
The indices are not stable. But both vectors of triangle should have them in same order (for example [1,2,3,4,5,6,7] and [2,4,7]). So it should be possible to find the difference efficiently (set difference suggested above will not work though).

[2020-02-29 12:32] KuDeSnik33ra commented on #1
Sorry, I mean vertex order in triangle, not triangle index in triangles vector. Do I need to check:
`isInnerTri = [&cdtInner](const CDT::Triangle& tri)
 {
     for (auto& innerTri : cdtInner.triangles)
     {
           if (tri.vertices == innerTri.vertices)
                return true;
     }
     return false;
};
`
or I have to check it order independent:
`
isInnerTri = [&cdtInner](const CDT::Tr

[2020-02-29 13:33] artem-ogre commented on #1
Vertex indices should not be changed, when removing triangles. First version should work :)

[2020-03-03 17:27] artem-ogre commented on #1
![image](https://user-images.githubusercontent.com/7488293/75802103-747e8d00-5d7c-11ea-9468-de01fab9fb87.png)
I've implemented a way to automatically deal with holes in the model: 04035ef73c3e65bb4701c010a5c404e0dd41dbaa

It grows until outer boundary. Triangles outside outer boundary are removed. Then it grows until next boundary. Triangles between are kept. Then it grows again, this time removin

[2020-03-05 08:16] artem-ogre commented on #1
I will close this issue as solved.

[2020-03-05 08:16] #1 closed

[2020-03-29 18:34] KuDeSnik33ra commented on #1
I have tested this, it works. Thanks!

[2020-03-30 19:33] KuDeSnik33ra opened #2 "Strange assert"
Hello! I am trying to triangulate poly, but I get assert on adding edges:
[code]
Is this my mistake or bug, maybe?

[2020-03-31 06:40] artem-ogre commented on #2
Triangulation requires that there are no duplicated points. In your case first and last points are the same.
It is in the plans to add a note to the assert that one should check for point duplicates.

[2020-03-31 06:40] #2 closed

[2020-03-31 06:47] artem-ogre commented on #2
I've added a note to the exception message: https://github.com/artem-ogre/CDT/commit/72e82e47320196eb6982ba7b979be34f6f61a5fc

[2020-03-31 07:48] KuDeSnik33ra commented on #2
Thanks, works! I am converting boost multipolygons as input for CDT, they always has last point = first point, but it seems to be working in most cases, only few has asserts.

[2020-04-02 10:06] KuDeSnik33ra opened #3 "inline missing"
Theese functions should be marked inline - otherwise, compiling projects with multiple cpp files, including CDT, will fail.
CDTUtils.hpp,99
[code]

[2020-04-02 10:20] artem-ogre commented on #3
What's the compilation error? Do you have `CDT_USE_AS_COMPILED_LIBRARY` defined?

[2020-04-02 10:28] artem-ogre commented on #3
I was able to reproduce it.

[2020-04-02 10:36] KuDeSnik33ra commented on #3
Hello, thanks!

[2020-04-02 10:46] artem-ogre commented on #3
Thanks a lot for reporting the issue!
Fixed in: f53d788

[2020-04-02 10:46] #3 closed

[2020-04-14 16:24] KuDeSnik33ra commented on #2
Hello! Is there any possible solution for duplicate points as input data to workaround? I am working with OpenStreetMaps data polygons - and found, that it is possible in OSM to have same points in outer and inner polygon rings. Maybe swap index for such verts to first added instance?

[2020-04-14 16:32] KuDeSnik33ra commented on #2
It will be very slow to validate all verts before using CDT on them - isn't runtime workaround possible?

[2020-04-15 12:07] artem-ogre commented on #2
Removing duplicates can be done in linear time if hashing pair of XY coordinates is used. I should even have a code for it laying around in another project. CDT could provide a utility function that would remove duplicates and re-map edges. Would that work for your case?

[2020-04-15 12:29] KuDeSnik33ra commented on #2
It would be nice to try.

[2020-04-20 08:51] artem-ogre opened #4 "Add functionality for fixing duplicate points"
Algorithm is not supporting duplicate points. But it is a common case when input contains duplicated points (exactly same X and Y coordinates). Add functionality to perform fixing input data so that duplicates could be handles.

Requested in issue https://github.com/artem-ogre/CDT/issues/2 by @KuDeSnik33ra

[2020-04-20 08:54] artem-ogre commented on #4
@KuDeSnik33ra could you please try the branch [remove-duplicates](https://github.com/artem-ogre/CDT/compare/remove-duplicates) to test if the proposed functionality works for you?

[2020-04-20 08:54] artem-ogre commented on #2
@KuDeSnik33ra could you please try the branch [remove-duplicates](https://github.com/artem-ogre/CDT/compare/remove-duplicates) to test if the proposed functionality works for you?

[2020-04-20 18:56] KuDeSnik33ra commented on #4
Hello! It is not working for not last vert - you need to move all indices in edges in such case. I fixed your code:
[code]

[2020-04-20 19:04] KuDeSnik33ra commented on #4
Test code here:
[code]

[2020-04-21 02:18] yumianhuli2 opened #5 "About the environment of QT"
I'm sorry I haven't used QT！Please introduce the installation environment and version of QT,and how to use your code in QT?Thank you!

[2020-04-21 06:03] artem-ogre commented on #4
Whoops... I did something silly when trying to optimize space usage :).

Fix is pushed: now full mapping as a vector of indices is calculated. For example if you have vertices [0,1,2,3] where 0 and 2 are same it produce vertices [0,1,3] and a mapping [0,1,0,2].
Then each edge will be re-mapped.

[2020-04-21 06:08] artem-ogre commented on #5
You only need Qt if you would like to run the demo tool. The library itself can be just used by copying header files.

To build .pro file you would need qmake which comes with Qt.
Please refer to the docs: https://doc.qt.io/qt-5/qmake-running.html

Or you could open .pro in QtCreator which supports qmake out of the box.

Does this answer your question?

[2020-04-21 10:57] yumianhuli2 commented on #5
Hi! I  copying header files,and got results,but if I put point8 which in the Concave polygon，the result is not right,the code is below:
#include <iostream>
#include "CDT.h"
#include "VerifyTopology.h"
#include "CDTUtils.h"

using Triangulation = CDT::Triangulation<float>;

typedef float CoordType;
typedef CDT::V2d<CoordType> V2d;
typedef CDT::Edge Edge;

int main() {
    std::cout << "Hello, World

[2020-04-21 20:56] KuDeSnik33ra commented on #4
It works, thanks!

[2020-04-22 06:11] #4 closed

[2020-04-22 06:27] artem-ogre commented on #5
![image](https://user-images.githubusercontent.com/7488293/79947196-d0f35400-8471-11ea-9c17-0400d289bfbf.png)

Your output looks valid: there are 8 triangles as shown in the picture above.

[2020-04-22 07:43] yumianhuli2 commented on #5
Oh！ Yes！I added an extra 8,so...
1、By the way, If both the points and the constraint edges are correct，Is your library suitable for any situation？
2、Is it possible to directly implement to 3d points？
Thank you!

[2020-04-22 08:09] artem-ogre commented on #5
I'm not quite sure what is the question here.
The library uses robust predicates, so it should work with any input that satisfies requirement of no duplicate points or no intersecting constraint edges.

Triangulation is a 2D problem, for 3D you would need a tetrahedrization library. CDT only does triangulation in 2D

[2020-04-22 09:38] yumianhuli2 commented on #5
ok！I will make a mapping from 2d points to 3d points and  use it in my work！Thank you！

[2020-04-22 09:42] artem-ogre commented on #5
Yes, if you just need to get a surface from 3D points, you could discard Z coordinate and use X and Y for triangulation :)

[2020-04-22 09:56] yumianhuli2 commented on #5
Yes,surface!
but Could you plz provide a library available for  point cloud constrained-delaunay triangulation?

[2020-04-22 12:19] artem-ogre commented on #5
If you want to make 2.5D surface (single Z for every X and Y) out of point cloud, just ignore Z. But if you would like to have a full 3D surface (folding, multiple Z at X and Y) then CDT can not do that.

[2020-04-22 14:15] yumianhuli2 commented on #5
Got it！

[2020-04-22 15:31] #5 closed

[2020-05-25 16:22] ihmc3jn09hk opened #7 "Steiner Point insertion"
Hi, I am looking for alternative and more modern delaunay triangulation library instead of [Triangle](https://www.cs.cmu.edu/~quake/triangle.html). It is awesome and extremely fast. I have been using it for a while but it's kind of old now and the memory management is still 32bit.
I found this CDT project and everything looks promising. Yet I could not find any parameter/function that allows inser

[2020-05-25 19:28] artem-ogre commented on #7
Hi,

Thanks for the question.

Triangulation refinement is not implemented in CDT. I have it on my TODO with the highest priority after performance improvements. It is nice to know this feature is demanded :)

Any help is welcome and appreciated: pull requests, algorithm implementation suggestions or any other additional information.

There are a couple of 64bit patches for Triangle floating aroun

[2020-05-28 15:32] artem-ogre commented on #7
I'm closing this issue for now. Please let me know if you have any further questions.

[2020-06-24 19:26] cdcseacave opened #10 "3D?"
Such a cool library, unfortunately only for 2D. Can't be generalized to 3D easily?

[2020-06-24 20:42] artem-ogre commented on #10
Hi,

Do you mean creating constrained Delaunay tetrahedralizations?
I don’t know how easy/comlex such a generalization is, so any input and contributions are welcome. Do you have any good references or algorithm descriptions in mind?

Hypothetically since 3d versions of predicates are available, inserting points should be rather straightforward. Inserting constraints could be more difficult in 3d

[2020-06-25 08:38] cdcseacave commented on #10
I am a simple user, I am not familiarize with the theory behind. I know [TetGen](http://wias-berlin.de/software/tetgen) implements it in 3D, and there is a paper describing it: http://doi.acm.org/10.1145/2629697

[2020-06-25 09:31] artem-ogre commented on #10
Thanks, I will look into it. It definitely looks like it needs some effort.  So I can't promise anything anytime soon.
Leaving this issue open as any contributions are welcome.

[2020-10-27 14:31] artem-ogre opened #15 "Implement Conan package recipe for CDT"

[2020-10-28 11:51] artem-ogre opened #16 "Add CI builds using GitHub Actions workflow"

[2020-10-28 12:08] #15 closed

[2020-10-28 12:08] #16 closed

[2020-10-29 14:38] LeoPizzo1 opened #19 "Insertion of a grid of points"
I founded this library very promising.
Well done and reasonably stable.
I see two problems, to use it effectively in everyday tessellation.
In the tessellation algorithms, often is useful to prepare a grid of points and superimpose on it the  edge loops.
Now all the points are inserted in the same way, regardless if they have a "regular" distribution or they are unorganized.
It will be really cool

[2020-10-29 14:40] LeoPizzo1 opened #20 "Self intersecting boundaries"
Sometimes it happens that edge loops are (self) intersecting, due to various description errors.
Now the library fails to remove the outer loops, returning no triangles.
It could be interesting to get a result, even if wrong in this case.

[2020-10-29 14:55] LeoPizzo1 opened #21 "Custom point type"
Now, to use the library, it is necessary to create the Vt2d<> vector.
It should be interesting to allow the caller to use a different point type (i.e.: boost::geometry), to avoid useless data transfer.
It will be interesting, as it is done in boost::geometry to allow the definition of a wrapper that doesn't rely on "x" and "y" fields directly, but mediated, allowing also to simple types like this

[2020-10-29 15:00] artem-ogre commented on #20
Could you provide a small (preferably) example of the input you are talking about?

[2020-10-29 15:08] artem-ogre commented on #21
Boost is not a hard dependency of CDT and I would prefer to keep it that way.

One way is to implement a similar model-concept approach as in boost::geometry to support custom point types. It will require significant effort and will significantly reduce readability of the code.
Maybe a simpler concept-based template duck typing approach can be used.
Either way it requires a significant re-write, w

[2020-10-29 15:11] artem-ogre commented on #19
Hi, @LeoPizzo1

Thanks for the feedback.

I am not sure I follow exactly what do you mean. Do you mean inserting existing triangulation with points and edges as-is at once?

If yes, that would be possible. However it will not be possible to insert points outside of the already-inserted triangulation as there is no super-triangle to catch them.

[2020-10-29 16:02] LeoPizzo1 commented on #20
Here you can find two tests, ne very easy (but exaggerated by intention), where a "butterfly" is created.
The other one, on the contrary, is the "real life" case.
I know I can fix the problem adding a vertex at the intersection and splitting the edges accordingly, but it takes time...
My idea is that it is not to obtain a correct tessellation, but to obtain the triangles up to the edges, even if t

[2020-10-29 16:14] LeoPizzo1 commented on #19
Usually I have a 2d domain that is subdivided in a regular grid.
![image](https://user-images.githubusercontent.com/73240053/97600786-b6de9380-1a09-11eb-8ea1-cfacd339a5da.png)

On this grid I add the edges defining the trimming loops.

![image](https://user-images.githubusercontent.com/73240053/97600896-d70e5280-1a09-11eb-8776-584bca4527ea.png)

The grid has a fixed structure, so it is possible to

[2020-10-29 16:18] LeoPizzo1 commented on #20
Here, fo your info, the real life working case:
[real_life_working.txt](https://github.com/artem-ogre/CDT/files/5459794/real_life_working.txt)

[2020-10-29 16:34] LeoPizzo1 commented on #21
It could be enough to define the point in a slightly different way and passing it to the Triangulation as a template argument:
[code]

The changes to the code should be really minimal.
In this way, a user can, if needed, provide a custom type, considering it has the same functions defined in Vtx2d class.

Sometime it is important to associate to the point some information, related to the client so

[2020-11-02 14:16] LeoPizzo1 commented on #19
I wrote a simple (raw) algorithm that creates the grid topology and them adds the boundaries points and edges.
I created a grid class
[code]
and implemented a function in CDT::Triangulation:
`  void initGrid( const CDT::TriangulationGrid<T>& grid )`
The boundary points are added via the already existing function
`void insertVertices(const std::vector<V2d<T> >& vertices);`

The image below shows th

[2020-11-02 20:12] digitalutopia1 opened #22 "Is Edge ordering required?"
I'm having an issue with processing a shape that contains a single hole - The shape and hole have defined edges. However, when I proceed to `insertEdges` I get a runtime error at the close of `intersectedTriangle`

code:
[code]
data:
https://pastebin.com/aq4eXVA8

I've ensured that there are no duplicate points, and the edges reference the appropriate points. The only thing I haven't done is order

[2020-11-02 21:27] #22 closed

[2020-11-02 21:33] artem-ogre commented on #22
Hi there, I am away from computer for some days. Is this issue still valid?

[2020-11-02 21:41] artem-ogre commented on #19
Thanks for the input, really appreciate it! I am away from computer for some days. I will look at it as soon as I have time, but probably not sooner than in a week or two.

[2020-11-03 03:35] digitalutopia1 commented on #22
No - I'm pretty sure it was just on my end. Just to be sure, I did put the edges in order, and in the process made sure the edge indices lined up with the verts, and it worked fine.

[2020-11-03 15:11] artem-ogre commented on #22
And as to the order of edges: it should not matter.

[2020-11-11 15:34] artem-ogre commented on #21
@LeoPizzo1
After thinking more about this issue here are some thoughts I got.

When inserting new points into triangulation **_CDT will store copies of each point_** (2D coordinates X and Y).

I would like to understand better what problem would you like to solve. Depending on the problem there might be different ways to approach it:

1. I would like to have a **more ergonomic API** for inserting

[2020-11-12 13:42] LeoPizzo1 commented on #21
@artem-ogre
Thanks for your thoughts, now some of mine.

1. It is fine for me to have a copy of the points inside the tessellation.
The iterator range insertion is really interesting: maybe a user need to tessellate just a small part of a enormous vector.
What I would like to avoid, generally, is the double copy of the data as vectors: MyPoint->CDT::V2d->CDT::Tessellation::vertices
Usually an alre

[2020-11-15 16:51] artem-ogre commented on #21
@LeoPizzo1
I've made a PoC that uses iterator ranges and functors for X and Y getters to provide generic way of dealing with custom point types.
Please let me know what you think and feel free to ask if you have any questions.

[2020-11-15 20:32] artem-ogre commented on #21
For your example above the usage should look like that:
[code]

[2020-11-16 07:57] LeoPizzo1 commented on #21
Yes, it seems reasonable, too.
My suggestion allows to specify a default behaviour as per std:: implementations with an extractor class, your one uses functions, but the underlying logic is the same.

[2020-11-23 18:05] #21 closed

[2020-11-25 22:21] artem-ogre commented on #19
@LeoPizzo1

I've modified code so that `eraseOuterTrianglesAndHoles` works with arbitrary target triangulation: grid in your case instead of super-triangle. It is pushed to a feature-branch: https://github.com/artem-ogre/CDT/tree/feature/19-allow-fast-insertion-of-target

You can now use the following workflow:
1. Insert grid in CDT quickly by modifying `vertices` and `triangles` directly to bypas

[2020-11-26 10:55] LeoPizzo1 commented on #19
Thanks.
I will try it today and let you know.

[2020-11-26 10:59] LeoPizzo1 opened #24 "Failure in tessellation"
Ciao, the attached file fails to remove the outer boundary.
[CDTTessellationBoundsNotScaled (2).txt](https://github.com/artem-ogre/CDT/files/5602446/CDTTessellationBoundsNotScaled.2.txt)

[2020-11-26 12:34] artem-ogre commented on #24
You have intersecting constraint edges:
<img src="https://user-images.githubusercontent.com/7488293/100351303-892a4180-2feb-11eb-8851-54188a7ce6ea.png" alt="Overview" height="300"/>
Here's zoom-in adding edges constraint 89-92:
<img src="https://user-images.githubusercontent.com/7488293/100351484-cabaec80-2feb-11eb-8478-b4324f73577b.png" alt="89" height="170"/><img src="https://user-images.githubu

[2020-11-26 12:40] artem-ogre commented on #24
FYI here's fixed file: [CDTTessellationBoundsNotScaled.2.txt](https://github.com/artem-ogre/CDT/files/5603048/CDTTessellationBoundsNotScaled.2.txt)

[2020-11-26 18:42] LeoPizzo1 commented on #24
I see. Wrong tolology, sorry : dicn't recognized the problem.

[2020-11-26 18:42] #24 closed

[2020-11-27 07:51] artem-ogre commented on #21
Hi, just FYI there was a fix in #25 so it is now possible to pass lambdas or functors to `insertVertices` and `insertEdges` :)

[2020-11-27 09:36] LeoPizzo1 commented on #21
Great!

On Fri, 27 Nov 2020 at 08:51, Artem Amirkhanov <notifications@github.com>
wrote:

[2020-11-30 10:03] #20 closed

[2020-12-02 15:59] artem-ogre commented on #19
I found few issues that need to be resolved before using custom targets instead of super-tri is possible.
I am slowly progressing on this.

May I ask why do you prefer to use a grid? Do you hope to get better triangles this way (e.g., for finite element analysis)? Because even with grid you still may get 'bad' triangles.

[2020-12-02 19:59] grepthat opened #26 "Compile error using lambda accessors for custom point type"
Hi 👋 , I just stumbled upon this library. Looks like a very nice project. Thanks for providing this 👍
I tried using custom point types with lambda function accessors but get this compile error:

<details>
<summary>compile error trace</summary>

[code]

</details>

I am using the library in header-only mode and compiling with `g++ -std=c++14 -o main main.cpp`

[code]

[2020-12-02 20:38] artem-ogre commented on #26
Thanks you!

[2020-12-02 21:08] artem-ogre commented on #26
Added some fixes so that using CDT as compiled lib still works. Make sure to get them :) Please let me know if it works.

[2020-12-02 21:47] grepthat commented on #26
Sry, was only looking at the header-only specific stuff. Still works for me 👍

[2020-12-02 22:01] #26 closed

[2020-12-03 08:14] LeoPizzo1 commented on #19
Ciao, sorry but I hadn't yet time enough to test the functionality.
In an area of our application (isovalues search and display), we need to tessellate some parametric (UV) surfaces in order to have a regular triangle distribution to provide quality results.
This involves a lot of work in our framework to prepare a grid of "equidistant" points on the surface in 3d (usually there is no relation bet

[2020-12-03 18:02] artem-ogre commented on #19
Please check out this branch: https://github.com/artem-ogre/CDT/tree/feature/19-initialize-with-grid

I've added a file `InitializeWithGrid.h` containing method `initializeWithGrid`

**Usage example:**
[code]
**Output example:**
![cdt_screenshot](https://user-images.githubusercontent.com/7488293/101069167-eef16d00-3599-11eb-8bdd-6987f27ccfde.png)

Could you please try it out and report your feedba

[2020-12-04 16:36] LeoPizzo1 commented on #19
Ciao, interesting, but actually it is not what I need/implemented.
You correctly create a regular 2d grid, while in my case I need to adapt the 2d metric to the 3d one, thus the grid "lines" are not equally spaced in XY.
Moreover, if the surface has discontinuities (this happens with NURBS) I must insert a line of points at the discontinuity.

Given these request, I think that I have to provide on

[2020-12-04 17:11] artem-ogre commented on #19
I am not sure I follow. Do you have a working PoC branch somewhere?

You can insert arbitrary geometry (see `initializeWithGrid` for inspiration). Feel free to provide your own `initializeWithXXX`.

[2020-12-05 07:50] LeoPizzo1 commented on #19
No branches as far as now.
If you are not in a hurry, in the next days (weeks maybe) I will be able to provide one.

[2020-12-21 15:33] LeoPizzo1 commented on #19
Ciao,

I made some tests and I discovered that the problem (by now) is in "insertEdges", CDT.h row 392: it considers the 3 supertriangle indexes.
I'm not really used to git, it is easier (for me) and faster (for you) to provide the code I used to obtain the performance test above (obviously updated with the changes to test the grid without supertriangle) and some instructions.
I promise I'll take

[2020-12-21 16:02] LeoPizzo1 commented on #19
Adding a control about the addition of supertriangle now it seems to work correctly.
[CDT.zip](https://github.com/artem-ogre/CDT/files/5725220/CDT.zip)
I run all the tests, up to 700x500 points grid "trimmed" with 700 points circle.

[2020-12-28 18:46] artem-ogre commented on #19
Thanks @LeoPizzo1 I will try to look at it after the holidays.

[2021-01-18 09:54] artem-ogre commented on #19
Hi, sorry I don't have time to properly study the code you send me—not enough spare time for that.

If you take a look at [the branch](https://github.com/artem-ogre/CDT/tree/feature/19-initialize-with-grid) you will see that it is possible to initialize triangulation with absolutely **_any_** geometry (the only condition is that the points added with `insertVertices` afterwards will hit triangles

[2021-02-01 10:58] LeoPizzo1 commented on #19
Seems to work like a charm, now.
Speed is consistent with my original tests.
For me you can merge to trunk.

To complete the issue at 100%, in the real life the X-Y steps might not be regular.
So, it could be a good idea to provide, at least, a function accepting the X and Y ordered values.

[code]

And/or, maybe even better, something like this:

[code]

[2021-02-03 16:54] artem-ogre commented on #19
Added irregular grid functionality. Signature is:
[code]

[2021-02-03 17:03] artem-ogre commented on #19
Merged in PR: #30

[2021-02-03 17:03] #19 closed

[2021-02-23 13:50] LeoPizzo1 opened #31 "Incomplete handling of SuperGeometryType::Enum::Custom"
Ciao,

I implemented the usage of custom geometry initialization and I have seen that the library is not correctly handling the case.
The vertex ordering was not correctly maintained after a call to eraseOuterTriangles or eraseOuterTrianglesAndHoles, thus making impossible to remap correctly the indexes.
I found 2 points where I had to change the code in order to correctly execute:
- void Triangul

[2021-03-11 13:32] artem-ogre commented on #31
Ciao and thank you for the suggestion!
Could you please confirm that https://github.com/artem-ogre/CDT/commit/01f40d5d419a9bea4c00287449b1d997d790a77d fixes it?

[2021-03-19 07:53] helviett opened #34 "Triangle search algorithm"
Your search algorithm (crossing the dividing edge) requires triangulation to be delaunay (not constrained delaunay). But you can use stochastic walk instead of using data structure to store visitted.

[2021-03-19 08:36] artem-ogre commented on #34
Hello, yes, I'm aware of this limitation.

The triangulation should be created by first inserting vertices followed by edge insertion. So when inserting vertices the triangulation is Delaunay.

So as you mentioned inserting vertices in constrained triangulation is not supported. But there is also another reason for that: when inserting vertices edges are flipped to ensure Delaunay property. And th

[2021-03-19 12:04] helviett commented on #34
Alright, wasn't sure that your implementation is for offline use only so decided to point out potential issue. I have halfe edge delaunay triangulation implementation that can perform operations in runtime and had to deal with that kind of issues.

[2021-03-19 12:30] artem-ogre commented on #34
Please disregard my previous message.
I double-checked and we use a _remembering stochastic walk_.
So it should work with arbitrary triangulations.

Here's the code
[code]

Flipping a fixed edge could still be a problem. How does your implementation handle this?

[2021-03-19 12:37] helviett commented on #34
I track what edges are constrained. Constrained edges are not getting flipped. You can play with Spine. They use CDT to interactively create meshes.

[2021-03-19 12:43] artem-ogre commented on #34
Thanks. If it's just this single check then it should be really easy to add.

[2021-03-19 22:31] #34 closed

[2021-05-01 07:26] anishsingh935 commented on #10
hi can I work on this issue

[2021-05-01 18:26] artem-ogre commented on #10
Thanks, @anishsingh935

Let me know if you need any help. Please be aware that this might be a sizable effort: up to a point that it makes more sense to have constrained tetrahedralization as a stand alone lib based on CDT. Perhaps CDT3D or CDTet :)

[2021-05-31 21:32] Pin80 opened #35 "Commercial using"
Please, leave a contact in order to obtain a license on your code in commercial purposes.

[2021-06-01 08:34] artem-ogre commented on #35
Hello, @Pin80

CDT is available under MPL 2 license which is a permissive copyleft license. It is possible to use it for commercial purposes: see the [FAQ](https://www.mozilla.org/en-US/MPL/2.0/FAQ/).

Is MPL 2 not sufficient for your needs?

[2021-06-07 12:21] artem-ogre commented on #35
I would love to know by whom and where CDT is used :) If you don’t feel like sharing it here, my gmail is “artem.ogre”.

Does this answer your questions?

[2021-06-07 20:07] #35 closed

[2021-07-06 14:13] AndreFecteau opened #37 "Missing element in triangulation of point cloud due to small super-triangle"
Recently I have been evaluating constrained Delaunay triangulation libraries and have stumbled onto this gem.  During my testing of this tool I have encountered one triangulation where I believe is not the desired output but due to having the super-triangle being too small for the point cloud.  Here is the point cloud that causes the issue also attached you can find the visualization of the triang

[2021-07-06 17:20] artem-ogre commented on #37
Hello, @AndreFecteau

Thank you very much for the issue and a detailed description with an example! :)

If any vertex belongs to the super-triangle during edge-flip test: algorithm should consider it as a special case and handle it appropriately. So the size of the super-triangle should not matter.

I will check if there is a bug in that special-case handling.

[2021-07-06 17:44] artem-ogre commented on #31
I'm closing this issue due to inactivity. @LeoPizzo1 feel free to re-open it if the fix does not work for you.

[2021-07-06 17:44] #31 closed

[2021-07-06 20:04] artem-ogre commented on #37
The bug was there indeed, thank you again :)

Please check this PR: #38
The fix is in the branch [bugfix/37-fix-flip-needed-test](https://github.com/artem-ogre/CDT/tree/bugfix/37-fix-flip-needed-test).
If the fix works for your datasets, I will add a test file, do some more testing and merge it.

[2021-07-07 16:49] AndreFecteau commented on #37
Thanks for the quick fix, I will try this in the next few days.

[2021-07-07 20:41] AndreFecteau commented on #37
I ran it through all the benchmarks and the fix seemed to have worked. Thanks a lot!!

[2021-07-08 19:40] artem-ogre commented on #37
@AndreFecteau May I ask what you compared CDT with and how did it compare? I am very interested :)

[2021-07-09 08:55] #37 closed

[2021-07-10 19:48] AndreFecteau commented on #37
@artem-ogre These numbers are only meant to be a rough measurement. Note that not all these libraries are reliable or support general constrained Delaunay triangulation.

[code]

 10x10 
Elapsed time poly2Tri: 0.00012235 s
Elapsed time CDT: 0.000653747 s
Elapsed time CGAL: 0.000221772 s
Elapsed time Delaunator: 6.9119e-05 s
Elapsed time Triangle: 0.000959387 s

20x20
 Elapsed time poly2Tri: 0.0007

[2021-07-11 05:24] artem-ogre commented on #37
@AndreFecteau Is CDT using boost with `CDT_USE_BOOST` in these benchmarks?

[2021-07-11 05:33] artem-ogre commented on #37
And if yes, does it use `nearestVertexRtree`?

[2021-07-12 13:41] AndreFecteau commented on #37
Yes CDT_USE_BOOST is enabled,  I attached a flame graph of the benchmark 500x500. While I don't have experience with nearest neighbour search in point tree, I've always found that Boost::RTree access iterators are quite expensive for simple shapes.  Have you tried using a Oct Tree or kd-Tree for this section of the code?

<img width="1072" alt="Screen Shot 2021-07-12 at 9 32 33 AM" src="https://us

[2021-07-13 06:57] artem-ogre commented on #37
Really appreciate the input, thank you! I will look into it as soon as I get some free time. I will open a new issue for this.

[2021-07-13 06:58] artem-ogre opened #40 "Performance improvements"
@artem-ogre These numbers are only meant to be a rough measurement. Note that not all these libraries are reliable or support general constrained Delaunay triangulation.

[code]

 10x10 
Elapsed time poly2Tri: 0.00012235 s
Elapsed time CDT: 0.000653747 s
Elapsed time CGAL: 0.000221772 s
Elapsed time Delaunator: 6.9119e-05 s
Elapsed time Triangle: 0.000959387 s

20x20
 Elapsed time poly2Tri: 0.0007

[2021-07-13 06:59] artem-ogre commented on #40
More information can be found in: #37

[2021-07-23 19:31] JaredCrean2 opened #41 "Flat Element"
I encountered a possible bug while computing a constrained triangulation.  Here is a plot of the constraints:

![mesh_constraints](https://user-images.githubusercontent.com/10292902/126831034-e03ebca6-24d5-43a4-b132-c8fa2399f2f3.png)

Here is a plot of the triangulation generated by CDT:

![mesh_output](https://user-images.githubusercontent.com/10292902/126831093-0bbf2766-1c00-4ae2-b884-953caab5eb

[2021-07-23 22:16] JaredCrean2 commented on #41
Here is another, somewhat simpler, example:

Constraints
![mesh_constraints](https://user-images.githubusercontent.com/10292902/126846459-86cdf62a-eb64-4e51-84c0-a72e3d486bba.png)

Generated mesh:

![mesh](https://user-images.githubusercontent.com/10292902/126846471-f4fffa2a-3bb5-42ea-82f5-1f0adad3f808.png)

[mesh_constraints_verts.txt](https://github.com/artem-ogre/CDT/files/6871425/mesh_constrai

[2021-07-24 18:52] artem-ogre commented on #41
Thank you very much for taking the time and effort to create this issue.

I looked at your examples.
The triangulation result is correct: presence of 'cap' triangles indicates that three points are lying **almost but not exactly** on the same line. The triangulation algorithm relies internally on a numerically-robust predicate `orient2d(p, a, b)` which tells if `p` lies to the left, to the right,

[2021-07-30 16:10] artem-ogre commented on #41
Hope it explains your issue. I am closing it for now. If you have more questions or comments please don't hesitate.

[2021-07-30 16:10] #41 closed

[2021-08-02 22:53] starseeker commented on #7
Does poly2tri's implementation have anything useful in this regard?  They do support Steiner points, although as far as I know they don't use robust predicates... https://github.com/jhasse/poly2tri

[2021-08-02 23:08] starseeker commented on #40
It might be worth taking a look at https://github.com/nushoin/RTree to see if it could be of use for this purpose - I ended up using a slightly modded version of the https://github.com/DevHwan/RTree version for some work I did a couple years back, and it did OK (although I didn't hammer it with the sort of benchmarks you've got there, so I can't say definitely how it would compare.)  I was using p

[2021-08-02 23:22] starseeker commented on #7
In a similar mode, does CDT support specifying hole polygons?  I end up needing both holes and Steiner points in the application in which I use poly2tri (triangulation of trimmed NURBS surfaces).

[2021-08-03 07:18] artem-ogre commented on #7
Thanks for the interest @starseeker!

Inserting Steiner points is a rather straight forward algorithm. We don't need it for our needs right now and unfortunately there is not enough free time to just implement it. Hence a '**help wanted**' label on this issue :)

Removing holes is supported and done automatically with one condition: hole polygons and boundary polygon edges need to be constraint ed

[2021-08-03 07:22] artem-ogre commented on #40
Thanks for the suggestions. I wander how `cgal` and `Triangle` do it. I doubt that some other rtree implementation will greatly outperform boost's...

[2021-08-06 09:07] artem-ogre commented on #37
I got some time to do some profiling as well. Even though I get similar timings to yours, flame graph looks very different and r-tree performance is not a bottleneck (see more info below, original flame graph:[flamegraph.zip](https://github.com/artem-ogre/CDT/files/6944462/flamegraph.zip)). Do you have any thoughts on that? If you answer could you please answer in #40?

### Flame Graph
![flamegrap

[2021-08-06 09:46] artem-ogre commented on #40
I got a little bit of time to do the profiling. From the data it seems that `boost::rtree` performance is not a bottleneck.
### Flame Graph
[Original interactive flame graph as ZIP](https://github.com/artem-ogre/CDT/files/6944462/flamegraph.zip).
![flamegraph](https://user-images.githubusercontent.com/7488293/128486216-40f02ea4-38e8-403a-bd82-d1cf3a210aa3.png)

### Benchmark Code
[code]

[2021-08-06 12:42] AndreFecteau commented on #40
I should of been more descriptive,  you are correct that is flip needed is a larger issue when using a "quad" grid.  Try profiling using random numbers and you will see the one that I posted earlier.   What I expect is happening (a total guess) in this case is that when you have 4 points on a circle the Delaunay triangulation always flip the triangulation when something happens to any of the neigh

[2021-08-06 12:50] AndreFecteau commented on #40
I have also been implementing a simple KD-Tree and linking to CDT to see if my expectations were correct.  From first benchmarking it seems like my KD-Tree for now was more efficient by a large margin but I don't remember the exact numbers and not really tested so far.  I might have time this weekend to continue working on it and will update you with the numbers when I have them.

[2021-08-07 20:36] artem-ogre commented on #40
@AndreFecteau
Ah, right! I mindlessly grabbed the first benchmark as it showed some really bad timings. With random coordinates rtree indeed consumes most of the time.

I will post the flame graph and full benchmark later for documentation.

Vertices placed on a regular grid is an interesting but exotic corner case. Random vertices better reflect the common usage of triangulation. So thank you ver

[2021-08-08 21:57] AndreFecteau commented on #40
Attached you can find the comparison of the 2 implementations.  The one with the KDTree (CDT) and the Boost:RTree (CDT2). Theres still a lot of work left before I can push the KDTree to a git repo so it can be added to this project, but it's definitely a good proof of concept for now.

<img width="1061" alt="Screen Shot 2021-08-08 at 5 53 05 PM" src="https://user-images.githubusercontent.com/44216

[2021-08-30 21:12] AndreFecteau commented on #40
From memory, the timings that I show in the CGAL benchmarks is using the the range inserter for vertices.  I would be interesting to see if inserting points one at a time would amount to the same efficiency. I believe that there are much faster algorithms for Delaunay triangulation when you are able to sort the data points initially.

[2021-09-06 16:50] ghorwin opened #42 "Hole adjacent to 1 and 3 boundaries"
I don't know how to specify the correct input to CDT for below's examples:

![aligned_holes](https://user-images.githubusercontent.com/6892676/132246503-8b417a47-c380-4a0f-8f45-045696f015f0.png)

The left problem is a box with a hole aligned to the left side of the box (no shared points).
The right problem is a box with a hole inside that occupies the left half of the box.

The expected result in

[2021-09-06 18:07] ghorwin commented on #42
It seems, I have the problem if "intersecting outer boundaries". In the first example, when I split the overlapping edge (0,1) into:

    (0,4) (4,5) (5,1)

triangulation works fine.

Question: would it make sense to write a function in the CDT class that does this "segment" splitting automatically? The algorithm would have at least O(n2) complexity (since each edge has to be checked against each

[2021-09-06 20:06] artem-ogre commented on #42
Thank you for a good detailed issue, @ghorwin

Configurations with boundary edges shared by hole and non-hole polygons are not supported by the hole-detection algorithm.
This corner-case definitely needs to be mentioned in in readme/comments.

I will take a closer look at the hole-detection algorithm implementation and maybe propose ways to fix this in a more detailed reply.
If there is a good fix

[2021-09-07 11:00] ghorwin commented on #42
Since I have the bounding polygon available, I just need to process each line of said polygon, check against intersections with all other constraint edges and insert vertexes as needed. That seems to be a workable problem (I hope).

[2021-09-13 12:02] artem-ogre commented on #42
After thinking more about handling overlapping boundaries I think it would be nice to have it in CDT so that removing holes always 'just works'. I started to prototype this functionality and hope to have a branch with the change this week (or next).

[2021-09-13 19:42] artem-ogre commented on #42
I've done some proof-of-concept in the branch [`feature/42-handle-overlapping-boundaries`](https://github.com/artem-ogre/CDT/tree/feature/42-handle-overlapping-boundaries). It is rather quick and dirty but I tested with a couple of test files containing overlapping boundaries (added to the commit). If you are eager to start testing, welcome :)

I will add a more detailed explanation of how overlap

[2021-09-15 11:45] artem-ogre commented on #42
### Hole-removal algorithm
Each triangle is assigned 'layer depth' using iterative depth-peeling algorithm.
Layer boundaries are defined by fixed edges (triangulation constraints).
Outermost triangles adjacent to super-triangle vertices have depth 0. Next layer has depth 1 and so on.
To remove holes and outer triangles: triangles with even layer depths (0, 2 , etc.) are removed.

**Basic idea** is

[2021-09-16 19:08] artem-ogre commented on #42
@ghorwin
I've cleaned up code and opened a PR. Any news on testing, does this work with your use cases now?

[2021-09-20 06:43] ghorwin commented on #42
Super, works fine for my test cases. I'll put it into my app and will check, how well this works with potential rounding errors (i.e. when example geometry above is rotated with floating-point accuracy).

Thanks!

[2021-09-20 11:51] artem-ogre commented on #42
@ghorwin
Inputs are handled exactly. E.g., if the point is exactly on the edge: the edge will be split automatically. If the point is even slightly off no tolerances are used and the point is treated as not lying on the edge.
In such cases it is needed to pre-process the input data if necessary.

[2021-09-20 14:30] ghorwin commented on #42
Thought, so. I'm currently working on such a pre-processing, but it turns out that a fuzzy intersection routine isn't easy that easy to write (efficiently). Once I have it ready, I'll post it here for reference.

[2021-09-29 09:46] artem-ogre commented on #40
### Note on shuffling vertices and performance
CDT does not perform vertex shuffling which other implementations might do by default. For example a [benchmark with vertices on a grid](https://github.com/artem-ogre/CDT/issues/40#issuecomment-894142433) gets at least 2x faster when vertices are shuffled:
[code]
Currently users need to shuffle vertices themselves if it improves performance for their

[2021-09-30 17:59] AndreFecteau commented on #40
I am almost done implementing the KDTree to incorporate in CDT (If you want to) and I have a few questions for you (@artem-ogre ). The most up to date branch is https://github.com/AndreFecteau/CDT/tree/OptimizationByUsingKDTree. It is definitely not complete but I want to know:

Are you ok with this being integrated in CDT?
How do you want the external library to be stored in the files? I currentl

[2021-10-02 13:16] artem-ogre commented on #40
@AndreFecteau
First, sorry for somehow slow reply: my current personal circumstances are such that there is too little time I can dedicate to the project.

Neat, thanks for the nice effort! I had a quick look. I myself also came to the conclusion that point locator should be a customization point for `Triangulation` class (template parameter as you done or an interface).

I am working on randomize

[2021-10-20 19:46] #42 closed

[2021-10-20 19:48] artem-ogre commented on #34
#44
Fix for not flipping fixed edges is merged to `master`.

[2021-10-21 23:56] AndreFecteau commented on #40
@artem-ogre I took a quick look at the new KDTree that you implemented and I can't claim credit for that. Not much of my implementation is left (Not to worry, I can definitely see the benefits of having this integrated).  Just a mention in the readme would be great.

I'll probably take a deeper dive this weekend since I'm always curious on other ways of programming stuff.  Few things that I'm curi

[2021-11-07 10:23] artem-ogre opened #56 "Possible to export a vector of all (not just fixed) unique edges in a triangulation?"
### Discussed in https://github.com/artem-ogre/CDT/discussions/54

<div type='discussions-op-text'>

<sup>Originally posted by **ilia-nikiforov** November  5, 2021</sup>
Hi, my question is in the title. I already have a pretty fast way to do this as a post-processing step, but I was wondering if there was a neater built-in way that I was missing. Thank you!</div>

[2021-11-09 10:34] #56 closed

[2021-11-16 04:16] zinuok opened #57 "does it need 'boundary edges' ?"
thanks for providing really great library!

I tried several things to figure out how to use it.
However, I found that your library can't generate any triangle if at least one outer boundary edge (surrounding each point) is missing.
For example, in the below example, if I remove one of the edges, there's no triangle anymore..

Then my question is,

#### Q1.  Does your library not support creating a

[2021-11-16 05:39] zinuok commented on #57
I've misunderstood the definition of "Constrained DT".
We need outer boundary edges which are easily found via Graham's scan algorithms.

So I close this issue.

[2021-11-16 08:01] artem-ogre commented on #57
@zinuok
Yes, normal Delaunay triangulation without constraints is supported out of the box, there is no need to calculate boundary edges yourself.
Just use `eraseOuterTriangles()` instead of `eraseOuterTriangles()`.
It is mentioned in the documentation under **Triangulated convex-hull** example, but please let me know if you think of a good way to improve the documentation to make it more obvious.

[2021-11-16 08:03] artem-ogre commented on #57
\* Edited post above: `eraseOuterTriangles()` -> `eraseSuperTriangle()`

[2021-11-16 20:07] #57 closed

[2021-11-28 21:46] zenkovich opened #62 "Something wrong with boundaring edges"
Trying to do this sample:
[code]
Expecting something like this
[code]

And getting empty triangles list... What's wrong? Please help :)

[2021-11-28 22:11] zenkovich commented on #62
Damn ... The stupidest question on the internet. There is no {2, 3} here. I'm a champion in stupidity

[2021-11-28 22:11] #62 closed

[2021-11-29 07:28] artem-ogre commented on #62
No problem, happens with the best of us :)

[2021-11-29 13:56] zinuok opened #63 "Removing badly shaped triangles in CDT"
Hello, I successfully created CDT using the following methods, but there are many bad triangles in result (flat triangle),
which cause an error " In initialize: Triangulation is invalid" when I use "LinearTriInterpolator" method from python matploblib library.

So, my question is, how can I remove the bad shape triangles in CDT?

[code]

![image](https://user-images.githubusercontent.com/45934290/

[2021-11-30 14:36] artem-ogre commented on #63
One way to improve such triangles is perform re-meshing by inserting additional points (e.g., Steiner points).
CDT does not provide functionality to do this. So either you need to use another software for doing that, write your own re-meshing or even contribute Steiner point insertion to CDT :)

I am marking this issue as a duplicate of #7 .

[2021-11-30 14:42] #63 closed

[2021-12-01 12:58] zinuok opened #64 "result triangles somtimes cross each other"
Hello, I'm using following commands,
[code]
However, the result triangles sometimes cross over, making ill-shaped mesh
But this does not always happen. (also, I found that this does not happen at all if only a point is used, but if a line is added, this case occurs quite a bit.)
Are there any tips or methods to prevent this??

![image](https://user-images.githubusercontent.com/45934290/144238092-f

[2021-12-01 13:34] zinuok commented on #64
After some debugging, I found the cause.

for some reason, I rounded the x,y coordinates of points and lines.
The problem was caused by overlapping different lines with the same x and y.
If no rounding is done, a triangle is created well.

[2021-12-01 13:34] #64 closed

[2021-12-15 10:58] maweigert opened #65 "inconsistent triangulation for 3 points"
Hi,

First, thanks a lot for this useful implementation!

I was playing around with a simple example of a unconstrained triangulation of 3 points (that should always give a single triangle) but found it to yield inconsistent results for specific inputs and when called several times:

[code]

with the output
[code]

Is there something fundamentally wrong with how I am using `CDT`? Note that changin

[2021-12-15 18:47] artem-ogre commented on #65
Hi Martin,

Thank you for reporting this issue. I am away from the keyboard, but I will get to it as soon as I am back next week.

At a quick glance your example should always produce one triangle indeed.

Potential reason for different results could be the recently introduced randomized order of vertex insertion. Pseudo-random number generator is only seeded once so invoking `insertVertices` many

[2021-12-15 19:38] maweigert commented on #65
Hi Artem,

thanks a lot for the fast response!

Indeed, with `VertexInsertionOrder::AsProvided` the number of triangles is consistent, however it is now consistently 0 :)

Yes, it is indeed depending on the permutation. Here's the output for all 6 permutations of the original 3 points:

[code]

[2021-12-15 21:06] artem-ogre commented on #65
Ouch! :) I will do my best to fix this promptly.
Could you pick one of the configurations producing wrong result and print triangles before calling `eraseSuperTriangle() `?

[2021-12-15 21:14] maweigert commented on #65
Sure:

[code]

[2021-12-16 08:33] IslamOmar-360Imaging commented on #65
Hi,
![Screenshot_2021-12-16_10-16-49](https://user-images.githubusercontent.com/89901835/146335885-be83f189-9274-48fb-8fdc-5c24b2dfb824.png)
By moving super triangle points far away, so that CDT would prefer triangles with the inserted points.
Kindly check that [PR](https://github.com/artem-ogre/CDT/pull/66) resolves this issue.

[2021-12-16 09:23] artem-ogre commented on #65
Thank you very much @IslamOmar-360Imaging

Yes, the problem is in the edge-flip test which produces wrong edges. So fixing super-triangle vertices is a kludge that can be used as a temporarily workaround for now. I will fix edge-flip test ASAP (next week).

[2021-12-16 09:25] artem-ogre commented on #65
Of course you may look into the edge-flip test yourself ;) But I will only be able to merge any PRs when I am back to the keyboard.

[2021-12-16 09:34] maweigert commented on #65
Thanks a lot for the super fast reply!

Ok, this fixes the problem with the original set of points. However for the following set of 3 points, the issue persists:

[code]

[2021-12-16 19:39] Islam0mar commented on #65
Kindly recheck this [PR](https://github.com/artem-ogre/CDT/pull/67).

Žalik et. al [[1](#1)] wasn't explicit when you have non-shared vertex and shared vertex both belong to the super triangle.

<a name="1">[1]</a> Borut   Žalik  and  Ivana   Kolingerová, An incremental construction algorithm for Delaunay triangulation using the nearest-point paradigm,_International Journal of Geographical Informa

[2021-12-16 22:09] maweigert commented on #65
Looks like that fixed it! Thanks a lot! :)

[2021-12-23 15:17] artem-ogre commented on #65
@maweigert
#67 was merged to master. I am closing the issue, thank you guys for your help.

[2021-12-23 15:17] #65 closed

[2021-12-24 20:36] HalfVoxel opened #68 "Online documentation contains escaped output"
Looks like something has gone wrong when generating the docs.

![image](https://user-images.githubusercontent.com/1144597/147371691-ce5110ea-50c8-415a-a31d-0dd4ce2fabf6.png)

[2021-12-24 22:24] artem-ogre commented on #68
Hi Aron, thank you for creating this issue.

The docs are generated with Doxygen. It has a feature of using a markdown file as a main page (`DOXYGEN_USE_MDFILE_AS_MAINPAGE`). This feature is used to to inject `README.md` into generated docs. Unfortunately this is how Doxygen renders it.
I noticed this problem but I don't feel like putting time in resolving this. This could probably be done by eith

[2022-02-03 20:36] Michael2109 opened #69 "Infinite loop in `insertVertex`"
I've noticed that sometimes an infinite loop can occur in `insertVertex`. If I print out the `triStack` size it increases indefinitely. It seems that `isFlipNeeded is returning true and constantly pushing new elements.

I'm using your library for my game and it's procedurally generated so this occurs every now and again so I'm struggling to create test data for this. Is this likely something to do

[2022-02-03 21:34] artem-ogre commented on #69
Hi, Michael,

Thanks for creating the issue. The reason could be:

- You have duplicated vertices in your input: you insert a vertex into a triangulation that already contains a point with exactly the same coordinates. You can use `CDT::FindDuplicates` method to check for duplicates in your input.
- There is a bug in CDT. But then I would need an input example reproducing the issue to fix it. Perh

[2022-02-03 21:55] Michael2109 commented on #69
Thank you for the quick reply! I'll check for duplicates and if not I'll look into creating some data to reproduce the bug.

Yes I'm using master. I cloned it yesterday.

[2022-02-03 22:41] Michael2109 commented on #69
@artem-ogre It was duplicates! My algorithm that generated my polygon includes the end point which is the same as the start point.

Got to say that this library is amazing! Extremely fast and much easier to use then others I've seen.

Thank you for the quick response!

[2022-02-03 22:41] #69 closed

[2022-02-04 09:22] artem-ogre commented on #69
Great! I'm happy that it works and you like it. :)

[2022-02-13 08:42] LeGamerDc opened #70 "bugs: duplicate point during triangulatePseudoPolygon are not handled"
according to paper,in insert edge step, there might be duplicate points of left point and right point. say we have a edge[1, 2], after eliminate triangle, we have [3, 4, 5, 4, 6] in left points, and we have a two triangle not tie right neighbor(of edge [4, 5]), so we must fix their neighbor after we do two triangulatePseudoPolygon.

since i'm not familiar with cpp, i could not give a merge request

[2022-02-13 10:08] artem-ogre commented on #70
Could you provide an image illustrating the issue perhaps? I am afraid I don’t follow your explanation.

[2022-02-13 10:09] artem-ogre commented on #70
An input for reproducing the issue would be the best.

[2022-02-14 02:03] LeGamerDc commented on #70
<img width="519" alt="企业微信截图_285d1f40-d54c-438b-8158-a206f713d9e6" src="https://user-images.githubusercontent.com/86505352/153787325-222f579b-5f9e-406e-a946-9e365ebe43c5.png">

take the graph from paper, we could find the Pu after eliminate triangle is [dedg], the vertex d appear twice. if later we triangulate result is tri (abe) (aed) (ebd) (dbg), then triangle (aed) and (ebd) would miss each oth

[2022-02-14 02:05] LeGamerDc commented on #70
so, we should find pattern [aba] in Pu and Pl, and fix the edge [ab]'s neighorship

[2022-02-14 11:11] artem-ogre commented on #70
@LeGamerDc
Hanging vertices situation is already handled properly in CDT. This exact case is represented in file [`Hanging.txt`](https://github.com/artem-ogre/CDT/blob/master/visualizer/data/Hanging.txt). You can run CDT on that input and inspect resulting triangles. All the neighboring information for the triangles should be set properly.

Please come back to confirm this or let me know if someth

[2022-02-15 18:53] #70 closed

[2022-03-05 12:47] stla opened #73 "I can't define an `Edge`"
Hello,

 Here is my code:

[code]

The first function works fine. But the compilation of the second function throws this error: **no matching function for call to CDT::Edge::Edge()**.

[2022-03-05 17:08] stla commented on #73
That's fine. One gives me an answer on [StackOverflow](https://stackoverflow.com/q/71363478/1100107).

[2022-03-05 17:08] #73 closed

[2022-03-05 18:43] stla opened #74 "FR: Elevated Delaunay triangulation"
Hello,

  This is an elevated Delaunay triangulation (also called 2.5D Delaunay triangulation):

![volcano](https://user-images.githubusercontent.com/4466543/156896108-81e9ff0f-0ad5-431a-b6de-cb4ca038852a.png)

It would be nice to have this feature. I personally do it by performing a 2D Delaunay triangulation of the (x,y)-coordinates of the points and then I add the z-coordinate, but it's possible

[2022-03-05 22:27] artem-ogre commented on #74
Hello @stla,

1. Yes, that’s the intended way for producing the 2.5D surface: triangulate in 2D and use points’ heights as Z.
2. It looks like your example is a heightmap (aka DEM). In this case the heights are known for points placed on a regular grid. In this case you may skip Delaunay triangulation altogether as it is an overkill for the task at hand. Just connect points on grid into triangles

[2022-03-05 22:36] artem-ogre commented on #74
You may also check out [`initializeWithRegularGrid`](https://github.com/artem-ogre/CDT/blob/master/CDT/extras/InitializeWithGrid.h)

[2022-03-05 23:15] stla commented on #74
Thanks, good to know that.

Are you sure there's not a better method than taking the (x,y)-coordinates and triangulate them, then adding the z height? I have been told (but vaguely) that one can project the 3D points on the best fitting plane, then triangulate on this plane and back-projecting. But that seems possibly problematic to me, because the projection on a plane can yield to duplicate poin

[2022-03-06 02:55] artem-ogre commented on #74
Oh, yes, absolutely this can be done.

The triangulation algorithms remain the same. Projection is therefore outside the scope of a triangulation library.

[2022-03-06 06:50] stla commented on #74
You're right. So let's close.

FYI, I did a [R package](https://github.com/stla/RCDT) based on **CDT**.

[2022-03-06 06:50] #74 closed

[2022-03-07 14:51] artem-ogre commented on #74
@stla
That's nice, appreciate you letting me know!

One question, why GPL though? CDT is MPL-2.0 and it seems strange to restrict the usage when providing the bindings. It is totally your choice though how to license your code :)
In the case you stick with GPL could you add a clarification in your README that CDT itself is permissively licensed under MPL-2.0.  Thanks!

[2022-03-07 20:21] artem-ogre commented on #74
Your DESCTIPTION, LICENSE and README are fine. What I am saying are just suggestions :)
What I was suggesting:
- If you don't have a preference then to re-license your package with MPL-2.0. This allows your package to be used in the wider range of applications including proprietary codebases.
- If you prefer GPL over MPL-2.0, then I would appreciate if you replace:

with

**Difference between GPL

[2022-03-08 14:49] stla commented on #74
Thank you! You learn me a lot.
I have already submitted this package to CRAN, I have to wait one month before submitting a new version. I will do the changes you suggest. I can already change the README.

[2022-03-09 16:19] stla opened #76 "Get boundary edges"
Hello,

  Is there a built-in way to get the boundary edges? Otherwise I can do it myself, by taking the edges of all the triangles and then the boundary edges are those which are unique. Maybe there's a better way?

[2022-03-09 16:27] stla opened #77 "Is there a situation where `fixedEdges` is useful?"
Hello,

  As I understand, the constraint edges are given in `cdt.fixedEdges`. But the constraint edges are those that the user inserts in `cdt`, so he already knows them. Am I missing a case where `fixedEdges` is useful?

[2022-03-09 19:16] mdsumner commented on #76
there is rgl::boundary3d fwiw

[2022-03-09 19:29] stla commented on #76
@mdsumner Thanks. I found `getBoundary3d` in **rgl**. Once you have a R `mesh3d`, there's also `Rvcg::vcgGetEdge`. It returns all the edges with an indicator of whether the edge is boundary.

[2022-03-09 21:16] artem-ogre commented on #76
@stla What do you need the boundary edges for?

[2022-03-09 21:41] artem-ogre commented on #77
Yes, it is useful in some corner cases. There are cases when fixed edges overlap (but don’t cross):
imagine input points 0:(0,0) 1:(1,0) 2:(2,0) 3:(3,0) and constraint edges (0,2) (1,3).

CDT will handle this case properly and `fixedEdges` will contain (0,1) (1,2) (2,3)

[2022-03-09 21:55] stla commented on #76
@artem-ogre For plotting, I want to have the possibility to choose the color of the boundary edges.

![face](https://user-images.githubusercontent.com/4466543/157542930-579efdf9-fd21-4d9e-96ee-86b201fedc45.png)

[2022-03-09 23:28] mdsumner commented on #76
oh an sorry, I thought this was the @stla repo when I replied (not relevant here what R has )

[2022-03-11 12:20] artem-ogre commented on #76
I see. There is no ready-to-use method for getting the boundary edges. So you will have to do it yourself.

 If you would like to do it in the most efficient way here are some ideas:
- Only check fixed edges, because only fixed edge can be a boundary edge
- You can do depth-peeling approach (for inspiration check `CalculateTriangleDepths` and `PeelLayer`) and record the boundary edges directly aft

[2022-03-12 09:27] stla commented on #76
Thanks. I finally use R to get them, with the **Rvcg** package, which has a function for doing that. This package is based on the C++ library **VCGLIB** and it is very fast.

[2022-03-12 09:27] #76 closed

[2022-03-12 11:09] #77 closed

[2022-03-12 12:50] stla commented on #77
Ok, thank you for the reply.

[2022-04-21 11:18] LeoPizzo1 opened #78 "Library includes outside the "include" folder"
All source files located outside "\include" folder are referring to the library without explicitly set the relative path (it expects that "cdt.h" it is in the include search path).
This forces to add the incldue folder as additional include directory (I'm using vs2019).

I think it is better to use the relative path to keep consistent with the installation.

I.e. in CDT\extras\InitializeWithGrid.h

[2022-04-22 15:23] LeoPizzo1 opened #79 "Infinite loop in LocatorKDTree::addPoint"
Ciao,

With the enclosed grid of points the kdtree insertion fails (FYI, the "old" boost::rtree was working perfectly)
[CDTTessellationGrid.grid (1).txt](https://github.com/artem-ogre/CDT/files/8542095/CDTTessellationGrid.grid.1.txt)
It runs to an infinite loop in KDTree::insert, in the while(true) loop at row 117.

To load this file you can use the visualizer modified here:
[main.zip](https://git

[2022-04-25 20:12] artem-ogre commented on #79
Ciao and thanks for the issue!

Please check the branch with the fix.
Something to be noted is that the modified main.cpp is broken, and also X, and Y ticks should be in ascending order with no duplicates.
Here are some fixes I have done to make it work for me:
[code]
[code]
[code]

[2022-04-25 20:18] artem-ogre commented on #78
Thanks for the issue!
Please check if the fixes in the branch are sufficient.

[2022-04-25 20:27] artem-ogre commented on #79
Oh, and also changed first file in the data file from `2 125` to `250`.

[2022-04-26 09:56] LeoPizzo1 commented on #79
Works perfectly! 🥇

Just a small question: do you use a local implementation of kdtree to have all the code in your library?
I actually wonder why you didn't use nanoflann ([https://github.com/jlblancoc/nanoflann](https://github.com/jlblancoc/nanoflann)): maybe it would be a bit over-engineered, but at least you wouldn't have to deal with all the little problems of spatial searches.
Anyway, good i

[2022-04-26 09:59] LeoPizzo1 commented on #78
Great, for the uses I can test it seems perfect!

[2022-04-26 10:11] artem-ogre commented on #79
Yes, primarily it is to minimize dependencies and to support c++98 compilation. It is also way faster than previously used Boost::RTree. Nanoflann definitely looks interesting, it would be interesting to have a PoC of another locator using nanoflann and benchmark it.

[2022-04-26 10:25] #79 closed

[2022-04-26 10:26] #78 closed

[2022-04-26 10:32] LeoPizzo1 commented on #79
If I will have some time I will do it. It could even became an optional component of your library.

Thanks again!

[2022-06-08 22:20] Meldryt opened #82 "how to call RemoveDuplicatesAndRemapEdges?"
how should we call RemoveDuplicatesAndRemapEdges() ?
second parameter accepts only type std::vector<Edge>&
but there is no such member. We only have EdgeUSet fixedEdges.

[2022-06-09 07:08] artem-ogre commented on #82
Hi, Meldryt,

`RemoveDuplicatesAndRemapEdges` is a helper utility for preprocessing input data _before_ it is passed to CDT. The reason is CDT does not support inputs with duplicates or crossing edges.

So you are not supposed to call it with `fixedEdges`, instead you are supposed to call it with vertices and edges that you intend to later pass to `insertVertices` and `insertEdges`.

[2022-06-09 07:49] Meldryt commented on #82
Hi, @artem-ogre
Thx for quick answer. I guessed so.
I had to change my datatype before passing it. Is not as flexible as insertVertices, insertEdges

[2022-06-09 08:57] artem-ogre commented on #82
Oh, I see. I could rewrite it with iterators-with-getters similar to `insertXXX` when there is time.
Pull requests are very welcome too!

[2022-06-09 10:00] Meldryt opened #83 "example how to build geometry from processed data"
Hi,
I am currently trying to figure out how to use processed triangle and vertices to draw them as triangles,
but i get weird results. Are the indices and vertices ready to use or do i have to go through neighbors or something?
Can you show an example how you to access the processed data?

[code]

[2022-06-09 10:07] artem-ogre commented on #83
You could look into visualizer code to see how triangles can be retrieved and rendered:
https://github.com/artem-ogre/CDT/blob/master/visualizer/main.cpp
For example, here's the loop that would draw triangles: https://github.com/artem-ogre/CDT/blob/master/visualizer/main.cpp#L296

[2022-06-09 10:08] artem-ogre commented on #83
Each triangle is represented by three indices into the `cdt.vertices` array.

[2022-06-09 11:22] Meldryt commented on #83
thx. its working now.

[2022-06-09 12:14] #83 closed

[2022-06-23 16:02] msokalski opened #84 "eraseSuperTriangle is slow"
I'm very happy with a stability and overall performance of CDT, great job!
The only one pitfall I'm suffering from is a performance of `eraseSuperTriangle()`.
Looks like its time complexity grows quadratically with number of triangles it actually has to remove.
I think it's worth looking into it for optimization possibilities.

Please find below my experiment results:
My 'malicious' data set is ma

[2022-06-23 18:42] artem-ogre commented on #84
Hello, @msokalski, and thanks for creating the issue. This is a very interesting find, and I will look into it when I get some spare time.

[2022-06-30 16:58] msokalski opened #86 "stack overflow in insertEdges()"
For few not so trivial cases (actually pretty extreme ones), I'm getting stack overflow exception from `insertEdge()` call.
There are many many `CDT::Triangulation<double,CDT::LocatorKDTree<double,32,32,32>>::triangulatePseudopolygon`
calls on the stack causing this. That would be great if refactoring this recursion into a pseudo-recursion loop would be possible.
I'm on Win10, VS22. Problem should

[2022-06-30 19:40] artem-ogre commented on #86
For issues caused by wrong input see #69 #24 #2 or https://github.com/artem-ogre/CDT/issues?q=label%3A%22wrong+input%22+is%3Aclosed

[2022-07-01 10:11] msokalski commented on #86
Hi @artem-ogre ,
No it is not the input problem, in the given example it is pre-filtered using `RemoveDuplicatesAndRemapEdges`.
Also this is not CDT bug, but only refactoring suggestion. CDT is easily able to solve this particular input but it requires changing linking parameters.

Currently `insertEdges()` makes use of recursive pseudo-polygon algorithm. It is elegant and is fast but it is fragil

[2022-07-01 10:33] artem-ogre commented on #86
Yes, I understand. I could re-write recursion into stack-based approach. However it is just hard for me to imagine the kind of a pseudopoly that is so big that it causes the stack overflow.

What about crossing edges? I don't see any checks or fixes for crossing edges. Could it be that this is what causing the pseudo-polygon that huge.

[2022-07-01 11:05] msokalski commented on #86
I've seen CDT was able to 'survive' all 3 cases: crossing edges, edge-edge overlapping and edge overlapping multiple vertices. This is record breaking!
I think in this particular example, pseudo polygons are very asymmetric, so splitting them is far from halving what makes stack size requirement more like `N` than `log(N)`.

[2022-07-01 11:37] artem-ogre commented on #86
Edge-edge overlapping and edge overlapping multiple vertices are supported. And there is quite some internal complexity involved to correctly handle such corner cases :)
There is also a branch that implements automatically resolving crossing edges intersection points (not 100% numerically robust as intersection points are subject to rounding errors but works in most practical cases).

Surviving cr

[2022-07-01 19:53] msokalski commented on #86
Ok, I'm going to add edge-crossing check in order to see if that would reduce stack size requirement. I'll let you know after the weekend.

[2022-07-05 10:34] msokalski commented on #86
Without enabling `fix_indices`, app just crashes.
[code]

[2022-07-05 11:22] artem-ogre commented on #86
You should not call `insertEdges` after `eraseSuperTriangle`.
Generally, one should think of `eraseXXX` methods as a final 'bake-the-final-data` step.

[2022-07-05 11:25] artem-ogre commented on #86
This is not a great API design and especially not very newcomer-friendly.

[2022-07-05 11:37] msokalski commented on #86
Oh great!
I didn't realize calling `eraseSuperTriange` modifies vertex indices (I thought it affects triangles only).
Thank's for your help!

[2022-07-05 13:10] LeoPizzo1 opened #88 "Make optional the insertion of new points on constraints"
I see that with commit [14a66c766a0bf397300d55b39b7954c5f52895d0 ](https://github.com/artem-ogre/CDT/commit/14a66c766a0bf397300d55b39b7954c5f52895d0) the library now enhanches the support of conforming Delaunay triangulation , adding more point if needed.

It is not clear to me if the points will be added only if edges are overlapping/intersecting.
If it is not the case, I suggest to make this fun

[2022-07-05 13:26] artem-ogre commented on #88
- Conforming triangulations are obtained by using new `conformToEdges` method. Behavior of `insertEdges` is the same as before. When using `conformToEdges` new points are added at the edge center recursively until the edge is present in the triangulation as a sum of its parts (pieces).
- Resolving intersections of constraint edges is disabled by default and will only be enabled when the user expli

[2022-07-06 08:40] LeoPizzo1 commented on #88
Amazing.
I love your implementation!

[2022-07-06 14:44] artem-ogre commented on #84
Here is some profiling data.

Code:
[code]
Flamegraph:
![flamegraph_100k](https://user-images.githubusercontent.com/7488293/177577710-5819104c-59b3-46e2-a133-f4b92ab4a16a.svg)

[2022-07-06 14:53] artem-ogre commented on #84
Flamegraph for 1M points:
[flamegraph_1m.zip](https://github.com/artem-ogre/CDT/files/9055857/flamegraph_1m.zip)

[2022-07-06 16:29] msokalski commented on #86
FYI, trying to add an edge over many colinear vertices which are already edge connected (like in the test case for https://github.com/artem-ogre/CDT/issues/84) can easily overflow stack in the following recursion:
https://github.com/artem-ogre/CDT/blob/21cdbb249e58e5628a61ac1a0a1753ee0ec5d437/CDT/include/CDT.hpp#L469

I can see there are many commits made since I pulled, so this may be outdated :)

[2022-07-07 09:05] artem-ogre commented on #84
# Profiling
## Before
[flamegraph_1m.zip](https://github.com/artem-ogre/CDT/files/9062048/flamegraph_1m.zip)
![image](https://user-images.githubusercontent.com/7488293/177735804-13eb8516-7c53-4c9a-b665-220294751c9b.png)
## After
[flamegraph_1M_after.zip](https://github.com/artem-ogre/CDT/files/9062050/flamegraph_1M_after.zip)
![image](https://user-images.githubusercontent.com/7488293/177735929-592

[2022-07-07 09:14] artem-ogre commented on #86
There is always an input big enough to overflow the stack :)
The question is: does this realistically happen with the real data or does it happen with specifically designed synthetic cases only? Is it causing real pain to the users or is it mostly of academic interest?

If it is the latter, I should probably fix this anyway, but it will be very low on priority and may not happen in the foreseeable

[2022-07-07 10:37] msokalski commented on #86
I can barely imagine such real world input but who knows :) If you feel this is hard to reimplement in recursion free way or it would made code significantly harder to maintain, I'd suggest adding depth counter to `CDT::Triangulation` and a user settable depth limit, so you could throw a regular C++ exception instead of dying with SO.
I use CDT for validating corner cases in my own lib, so yes, yo

[2022-07-07 11:02] msokalski commented on #84
Excellent boost! Thank you.

before:
[code]
after:
[code]

[2022-07-07 12:14] artem-ogre commented on #84
@msokalski
I have done another improvement: triangles by vertex will not be re-calculated when doing calling `erase...` methods.
If necessary triangles by vertex can be calculated using the new helper function `calculateTrianglesByVertex`.
So it is _'pay only for what you use'_  which makes `eraseSuperTriangle` another 35% faster.

[2022-07-07 12:17] artem-ogre commented on #86
@msokalski
I have changed the code so that it would detect if `erase...` was called (see new `Triangulation::isFinalized` method) and would throw an exception when trying to add new vertices or edges. This should make the API more error-proof.

[2022-07-11 10:57] #84 closed

[2022-07-11 10:58] artem-ogre commented on #84
@msokalski
It is in now. I was busy adding some automated tests on master, but now I am more confident that this change does not break anything.

[2022-07-11 11:57] msokalski commented on #84
Thank you!
I have a side question regarding degenerated triangulations,  should I ask it on a separate issue?

[2022-07-11 12:14] artem-ogre commented on #84
@msokalski
Maybe discussions is a better place: https://github.com/artem-ogre/CDT/discussions/categories/q-a

[2022-07-11 12:14] artem-ogre commented on #84
New issue works as well

[2022-07-12 11:09] #82 closed

[2022-07-13 11:11] artem-ogre commented on #68
Finally fixed, just check out this beauty: https://artem-ogre.github.io/CDT/
:)

[2022-07-13 11:11] #68 closed

[2022-07-22 08:43] stla opened #95 "Question on a constrained Delaunay triangulation with intersecting edges"
Hello,

  I inputted the four vertices of a square as vertices and the two diagonals of this square as constraint edges. Then the output I got is the triangulation with no triangle, no edge, and four fixed edges: the segments which join the center of the square to the vertices. Is it normal? I expected to get four triangles.

[2022-07-22 09:06] artem-ogre commented on #95
It could be normal depending on how does the code look like. Can you show the code?

[2022-07-22 09:18] stla commented on #95
My code is a bit special because I call it from Haskell. Here are the main points:

[code]

[2022-07-22 09:41] artem-ogre commented on #95
Oh, nice! Are there Haskell bindings? :)

Your output is normal:
- All triangles are removed with `eraseOuterTrianglesAndHoles` because they are not surrounded by constraints (e.g., you need to constrain square sides or use `eraseSuperTriangle`).
- Four edges are your 2 constraints split in 2 halves each. You can track to which input constraints pieces belong with `pieceToOriginals`

Hope it clear

[2022-07-22 09:54] stla commented on #95
Thanks, I didn't know `pieceToOriginals`, I will look at that.

I am the author of the Haskell bindings. I started two days ago: <https://github.com/stla/hcdt>. I have not mentioned your name and the license yet, I will do.

[2022-07-22 12:24] #95 closed

[2022-08-04 02:04] here-abarany opened #97 "Random shuffling isn't thread-safe and may cause issues with the linker"
The current random shuffling that's enabled by default declares a `static mt19937 randGenerator(9001)` in Triangulation.h. By declaring the variable as `static`, this has two main effects:
1. The variable will be shared across threads. This means that performing multiple Delaunay operations across different threads will interfere with the shuffling, and in worst case could break the random number

[2022-08-05 07:55] artem-ogre commented on #97
Thanks for opening the issue @here-abarany! I will take a closer look when I’m back at the keyboard.

[2022-08-10 14:26] artem-ogre opened #100 "Are predicates used in CDT safe?"
### Discussed in https://github.com/artem-ogre/CDT/discussions/99

<div type='discussions-op-text'>

<sup>Originally posted by **msokalski** August 10, 2022</sup>
It seams to me that predicates library can be easily fooled by flipping sign and/or swapping x,y coordinates of a point to form 4 exactly concyclic set of points. Results are not very optimistic ... any thoughts? Do you reproduce same be

[2022-08-10 15:14] #100 closed

[2022-08-12 12:10] artem-ogre commented on #86
Hello, @msokalski,
I converted code for inserting/conforming-to edges from recursion to iteration (see the branch). Could you please check if it addressed the problems you had with it?

[2022-08-12 13:43] msokalski commented on #86
Yes, sure. Ill check it on Monday, I'm away for weekend.
Thanks.

[2022-08-12 13:46] artem-ogre commented on #86
great, thanks! have a nice weekend :)

[2022-08-13 01:20] here-abarany commented on #97
@artem-ogre what are your plans for the changes on the 97-use-splitmix64-prng branch? I noticed that some of the tests are failing, presumably the "ground truth" tests are sensitive to the different shuffle order. Is it just a matter of finding the time to fix up the tests and any remaining cleanup, or are there other concerns that need to be investigated first?

[2022-08-13 03:16] artem-ogre commented on #97
yes, in situations of polygons formed by concyclic points different vertex insertion order can produce different (but still correct) triangulation. Easy way to fix tests is visually check different outputs and regenerate the ground truth. But I had in mind solving this by detecting concyclic polygons and producing a unique triangulation. This would make tests less fragile. But this is a significan

[2022-08-15 18:37] here-abarany commented on #97
Does this mean that using randomized vs. unrandomized inputs should give the same results? If so that's definitely something we'd be very interested in.

[2022-08-18 16:47] msokalski commented on #86
Hey @artem-ogre , that was a long weekend :p
Actually I was quite busy with my own stuff, so please accept my apologies for such delay!

I've confirmed, no more stack overflows occurs in insertEdges(), I havn't test conforming edges as it is currently outside my scope, but probably it is also fine (I've reviewed sources while bench marking). I've noticed a tiny performance drop, about 5% when comp

[2022-08-19 06:42] artem-ogre commented on #86
It is totally fine, it is your free time and I really appreciate it. Thank you!

[2022-08-19 06:46] artem-ogre commented on #86
Solved by #102

[2022-08-19 06:46] #86 closed

[2022-08-20 07:55] stla opened #103 "Can we get different results depending on the OS?"
Hello,

I did a R package wrapping CDT. When submitting a R package for publication, it is tested with multiple OS. A unit test fails on Mac. The results of a constrained Delaunay triangulation are not the same as the ones obtained on Windows and Unix (the edges are not the same). Does it make sense? The constrained Delaunay triangulation is not unique, is it? But how is it possible to get differe

[2022-08-20 07:59] artem-ogre commented on #103
Could you provide a minimal reproducible example?

[2022-08-20 08:05] stla commented on #103
Hi, I'm preparing a figure, to see if at least the Max results make sense. I'll post the results of my investigations here.

[2022-08-20 08:21] stla commented on #103
That makes sense, the triangulation is correct. The first figure is the one obtained with Windows and Unix, the second one is the one obtained with Mac. The red edges are the fixed edges.

![issueNoMac](https://user-images.githubusercontent.com/4466543/185736070-4b4f5003-c905-4ae5-9d71-b1f483b8c3ec.png)

![issueMac](https://user-images.githubusercontent.com/4466543/185736090-cd280647-6ce8-4ea9-80b

[2022-08-20 08:57] artem-ogre commented on #103
Concyclic points are known not to have a unique Delaunay triangulation. And different order of vertex insertion can produce slightly different results.

But when called with exactly the same inputs/parameters it should provide the same result regardless the OS.

[2022-08-20 09:20] stla commented on #103
Yes, strange. I have been told that Mac has no longer support for long doubles. Could it be the cause?

[2022-08-20 09:23] artem-ogre commented on #103
It could be. I observed different triangulations with doubles vs floats converted from doubles.
It is a guessing game without a concrete example.

[2022-08-22 08:58] GenieTim commented on #10
Hi @anishsingh935 , may I kindly ask: what is the status, where you able to progress, is there a CDT3D or CDTet now?

[2022-08-22 09:24] artem-ogre commented on #10
@GenieTim
To my knowledge nothing happened

[2022-08-27 09:20] msokalski commented on #103
Im almost sure, different results are caused by different <random> implementations on win and linux.

[2022-08-27 17:51] artem-ogre commented on #103
@msokalski
`std::mt19937` PRNG with a fixed seed is used and nothing else. This should be portable to my knowledge.
I also run the tests on Windows/macOS/Ubuntu and did not find see any platform specific results.
@stla
Could you please provide the exact input example?

[2022-08-27 18:10] msokalski commented on #103
Sure, i'll do tonight. I'm not sure which part of RNG tricked me in similar way (mersenne tweester or actual distribiution generator) but I've experienced differences between linux and windows in my random input to DCT test generator.

[2022-08-27 20:29] artem-ogre commented on #103
@msokalski
If I remember right distributions are not portable, but plane generator should be fine.

[2022-08-27 20:40] msokalski commented on #103
Ahh, probably you're right. So the other thing that came to my mind is different FAST_FMA define on Mac.  If @stla used buggy predicates it could make a difference. Anyway I'm going to check the RNG thing.

[2022-08-27 22:35] msokalski commented on #103
Nope, RNG results are same on Win10+VC and Ubuntu 20.04+gcc/clang. I was wrong, sorry.

[2022-08-29 05:34] stla commented on #103
I get the same results with Windows and Linux. Different results are on Mac.
I'll give the point coordinates later.

[2022-08-29 07:17] stla commented on #103
Here is the input.

- Angles: `2*pi/12, 4*pi/12, 6*pi/12, ..., 22*pi/12, 24*pi/12`

- Points: `(cos(angle), sin(angle))`  and  `(cos(angle), sin(angle)) / 1.5`

- Fixed edges:

[code]
and
[code]

[2022-08-29 07:33] artem-ogre commented on #103
@stla
To my knowledge trigonometric functions are not bit to bit portable. Can you trigger different behavior when pre-computing and hard-coding vertex positions?

[2022-08-29 07:40] stla commented on #103
I don't know, I don't have a Mac. (not sure to understand your question actually)

The trigonometric coordinates are calculated in R, not in C++. Do you think there can be some differences depending on the OS?

[2022-08-29 07:45] artem-ogre commented on #103
Yes, different results of sin/cos depending on a platform. Try computing and saving coordinates on one platform and hard-code them as an input. Hope it’s clear now.

[2022-09-07 07:19] artem-ogre commented on #103
@stla
FYI I am going to close this issue as not reproducible soon.

[2022-09-08 10:30] #103 closed

[2022-10-04 05:04] xiaolong7 commented on #10
Hi, can CDT be used for 2D triangulation of points in 3D space, like 3D surface reconstruction of point clouds?

[2022-10-10 17:05] petrasvestartas opened #104 "Random shuffling not compatible with c++17"
Hi,

Can you add some checks for the function that use random shuffling dependent on C++ version? The one you use is only compatible till C++14.

[2022-10-10 22:07] here-abarany commented on #97
Hi, I noticed that some work was done on this with the new-insertion-sequence branch. Do you have any updates on the status of that and when you might think it could be considered "done" and merged into master?

[2022-10-10 22:14] here-abarany commented on #104
The last tagged release uses the deprecated (and removed in C++17) `std::random_shuffle()` function. This was replaced in a later revision (available on master but not in a release tag), though there are still some issues with the shuffling logic as described in #97.

[2022-10-11 09:13] petrasvestartas opened #105 ".h and .hpp files with the same name"
Hi,

Maybe this is amateur question. But why in "\CDT\include" there are files with the same names e.g. CDT.h and CDT.hpp ?
Wont they be conflicting while linking?

I really have problem that I cannot solve for days.
If I `#include <CDT.h>` to precompiled headers it always produces the error below:

I download CDT with cmake in the build folder like this:

[code]

[code]

[2022-10-11 12:15] petrasvestartas commented on #104
This part is causing error and I tempoarily changed to the following code:
![image](https://user-images.githubusercontent.com/18013985/195086876-51b48c65-55a8-4ae8-a731-430e9162066e.png)

[2022-10-11 13:54] artem-ogre commented on #104
As @here-abarany mentioned it's fixed on `master`. I stopped doing releases for CDT (as it's more work) and instead suggest to live on the latest master branch. When I get time, I will make one last release that would say not to use pinned releases to make it clear for the users :)

[2022-10-11 14:53] petrasvestartas commented on #105
@artem-ogre

This is a very minimal example. I removed all my code to illustrate the most simple example:

Unzip then use these commands:
[cdt_test.zip](https://github.com/artem-ogre/CDT/files/9757188/cdt_test.zip)

1. Go to folder that is downloaded
`cd ..\cdt_test`
2. Run Download first CDT and GLM libraries (GLM is used only to store xyz points)
`cmake --fresh -DGET_LIBS=ON -DBUILD_MY_PROJECTS=

[2022-10-11 15:20] artem-ogre commented on #105
CalculateTriangleDepths<...> already defined in cmake_pch.obj

I believe the issue is solved on `master` in 4fa94abe01a18be97e690f248f8e049ade674009

[2022-10-11 15:28] petrasvestartas commented on #105
Since this commit was made in 2021.
Why this does not work on the current version? I use ExternalProject_Add to download the latest release:
`URL https://github.com/artem-ogre/CDT/archive/refs/tags/1.1.2.zip`

Would you have time to check the CMakeLists and the code itself?

[2022-10-11 20:00] petrasvestartas commented on #104
Understood, using the git clone instead of release. I close this issue.

[2022-10-11 20:00] #104 closed

[2022-10-12 08:25] artem-ogre commented on #105
I've done a new release from the current `master`. I recommend avoiding releases and leaving on the main branch if latest and greatest is required.

[2022-10-12 08:31] artem-ogre commented on #97
@here-abarany
Yes, the branch is almost ready, but I still need to test and investigate some corner-cases that are different.
Random generator fix will be a part of this branch.

Unfortunately, I have very little spare time to dedicate to CDT. I can't commit on any deadline, but I try my best.

[2022-10-13 14:20] petrasvestartas commented on #105
Thank you very much;)

[2022-10-13 14:20] #105 closed

[2022-10-29 07:24] Sum80 opened #108 "edges Parameter not in CDT::Triangulation"
When using the code.

#include "CDT.h"
CDT::Triangulation<double> cdt;
cdt.insertVertices(/* points */);
cdt.eraseSuperTriangle();
/* access triangles */ = cdt.triangles;
/* access vertices */ = cdt.vertices;
/* access boundary edges */ = cdt.edges;

edges is not a member of CDT::Triangulation.

[2022-10-29 09:35] artem-ogre commented on #108
Hi, @Sum80,

Thank you for creating the issue. There was a change: edges are calculated on request. Please use `extractEdgesFromTriangles` to calculate edges from triangles. I will need to update the documentation to reflect this.

[2022-10-31 09:52] artem-ogre commented on #108
I have updated the README.md:
- fixed edges only are still available via `fixedEdges`
- all edges can be calculated on demand
[code]

[2022-10-31 09:52] #108 closed

[2022-11-25 16:30] tysoni opened #110 "KDTree namespace conflict"
I have a large project I'm testing CDT in, and there happens to be a class in the project named KDTree which causes CDT to generate all kinds of unrelated errors during compilation due to the naming conflict between the KDTree class and CDT's KDTree namespace.

Nesting the KDTree namespace of the CDT library inside the CDT namespace solves the problem. It probably makes sense to have all CDT class

[2022-11-25 19:00] artem-ogre commented on #110
Thank you for opening the issue @tysoni!

Yes, definitely, this is reasonable to do. It sounds like you already made it to work. Would you mind making a PR?

[2022-11-25 20:05] tysoni commented on #110
Unfortunately I'm pretty limited in my knowledge/usage of github at the moment, so I'm only able to report :)

[2022-11-25 20:10] tysoni opened #111 "insertEdgeIteration will crash if iTopo value is 'noNeighbor'"
Ran into a case where insertEdgeIteration can generate an unhandled exception. Line 524 of Triangulation.hpp can return a value of 'noNeighbor' which is then used (without a bounds check) to access an array by index - instant crash.

![itopo](https://user-images.githubusercontent.com/2181360/204051116-4f765c87-3e95-4f0a-9a3e-c600bb2cb465.png)

[2022-11-25 20:14] artem-ogre commented on #111
Do you have code/input example that can reproduce the issue?

[2022-11-25 21:01] tysoni commented on #111
Sure, here's the code:

    CDT::Triangulation<float> cdt;
    cdt.insertVertices(cdtVerts);
    cdt.insertEdges(cdtEdges);
    cdt.eraseOuterTrianglesAndHoles();

And attached are the contents of the cdtVerts and cdtEdges arrays, in the format:

    vert1x
    vert1y
    vert2x
    vert2y
    ....

and

    edge1v1
    edge1v2
    edge2v1
    edge2v2
    ....

You should be able to read the value

[2022-11-25 21:41] tysoni opened #112 "VertexInsertionOrder::Randomized is not thread safe"
Sorry for the rapid-fire issue reporting...I'm testing CDT in a high performance geometry fracturing library that's using CDT for slice cap triangulation...so I'm putting CDT through the wringer against hundreds of thousands of test cases on complex polygons.

Anyways, VertexInsertionOrder::Randomized is not thread safe (multiple CDT operations cannot be run simultaneously) because your random_shu

[2022-11-25 22:06] tysoni opened #113 "insertEdge can get stuck in an infinite loop"
Last one for today....

In some situations (rare) insertEdge can get stuck in a loop where a small number of edges will shuffle in and out of the 'remaining' vector repeatedly, so that it never empties. Not exactly sure why.

Attached is the vert/edge data in the same format as the data in the other issue I posted. Only difference is that here I construct the CDT as follows:

    CDT::Triangulatio

[2022-11-28 12:39] artem-ogre commented on #112
#97

[2022-11-28 12:43] artem-ogre commented on #97
Related: #112